.header {
    width: 100%;
    padding: 20px 0;
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.link {
    text-decoration: none;
    color: inherit;
    display: inline-block; /* или block */
    text-align: center; /* выравнивание текста внутри */
    width: 100%; /* чтобы заняло всю ширину header */
}