.subtabs {
    display: flex;
    background-color: var(--container-bg-color);
    margin-top: 10px; /* отступ от основных табов */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.subtabs button {
    flex: 1;
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--main-text);
    font-family: 'TenorSans', Arial, sans-serif;
    font-size: 16px;
    transition: background 0.2s;
}

.subtabs button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.subtabs .active {
    border-bottom: 3px solid var(--secondary-accent); /* можно другой акцент */
    font-weight: bold;
}
