.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--main-accent);
    font-family: 'RedOctober', sans-serif;
}

.content p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.subtitle {
    padding-top: 20px;
}


.subsubtitle::before {
    content: "· "; /* интерпункт + пробел */
}

.subsubtitle {
    padding-left: 10px;
}


/* Quote */
.quote {
    border-left: 4px solid var(--main-accent);
    padding-left: 15px;
    margin: 10px 0;
    font-style: italic;
    color: var(--main-text);
}

.quote footer {
    margin-top: 5px;
    font-size: 0.9rem;
    font-style: normal;
    color: var(--secondary-accent);
}

.quote p {
    white-space: pre-line;
}

/* Tips */
.tips {
    background-color: var(--tips-bg);
    padding: 5px 15px 10px;
    border-left: 4px solid var(--main-accent);
    margin: 15px 0;
}

/* Comment */
.comment {
    background-color: var(--comment-bg);
    padding: 4px 15px;
    margin: 15px 0 15px 40px;
    border-left: 4px solid var(--secondary-accent);
}

/* Image */
.imageBlock {
    margin: 15px auto;
    text-align: center;
}

.imageBlock img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.imageComment {
    margin-top: 5px;
    font-size: 0.85rem;
    color: var(--secondary-text);
}

.link {
    color: var(--main-accent);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease;
}

.link:hover {
    color: var(--secondary-accent);
}